<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" type="text/css" href="../Styles/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <header class="header">
      <h1 class="header-title">E-commerce</h1>
      <div class="search-button-container">
        <button class="entrar-button">Entrar<i class="fa fa-chevron-right"></i></button>
        <button class="cadastrar-button">Cadastrar<i class="fa fa-user"></i></button>
      </div>
    </header>
</body>