<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>E-commerce</title>
        <link rel="stylesheet" type="text/css" href="../Styles/styles.css">
        <link rel="stylesheet" type="text/css" href="../Styles/product.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>
<body>
    <iframe src="header.html" frameborder="0" class="header-iframe"></iframe>
    <main>
            <section class="product">
                <div class="product-container">
                    <div class="sorry">
                        <p >
                            SENTIMOS MUITO!
                        </p>
                    </div>
                    <div class="product-desc">
                        <p class="desc">
                            Nosso site é tão bom que sobrou apenas este produto:
                        </p>
                    </div>
                </div>
            </section>
    </main>
    <iframe src="footer.html" frameborder="0" class="footer-iframe"></iframe>
</body>
</html>